aiohttp==3.9.5 ; python_full_version >= "3.8.1" and python_version < "4.0"
aiosignal==1.3.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
annotated-types==0.6.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
anyio==4.3.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
async-timeout==4.0.3 ; python_full_version >= "3.8.1" and python_version < "3.11"
attrs==23.2.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
broadcast-service==1.3.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
certifi==2024.2.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
click==8.1.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "4.0" and platform_system == "Windows"
cushy-storage==1.3.8 ; python_full_version >= "3.8.1" and python_version < "4.0"
distro==1.9.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
exceptiongroup==1.2.1 ; python_full_version >= "3.8.1" and python_version < "3.11"
filelock==3.13.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
frozenlist==1.4.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
fsspec==2024.3.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
h11==0.14.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
httpcore==1.0.5 ; python_full_version >= "3.8.1" and python_version < "4.0"
httpx==0.27.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
huggingface-hub==0.22.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
idna==3.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
importlib-metadata==7.1.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
jinja2==3.1.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
litellm==1.35.31 ; python_full_version >= "3.8.1" and python_version < "4.0"
markupsafe==2.1.5 ; python_full_version >= "3.8.1" and python_version < "4.0"
multidict==6.0.5 ; python_full_version >= "3.8.1" and python_version < "4.0"
numexpr==2.8.6 ; python_full_version >= "3.8.1" and python_version < "4.0"
numpy==1.24.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
openai==1.23.6 ; python_full_version >= "3.8.1" and python_version < "4.0"
packaging==23.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
prompt-toolkit==3.0.36 ; python_full_version >= "3.8.1" and python_version < "4.0"
pydantic-core==2.18.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
pydantic==2.7.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
python-dotenv==1.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
pyyaml==6.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
questionary==2.0.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
regex==2024.4.28 ; python_full_version >= "3.8.1" and python_version < "4.0"
requests==2.31.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
sniffio==1.3.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
tiktoken==0.6.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
tokenizers==0.19.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
tqdm==4.66.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
typing-extensions==4.11.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
urllib3==2.2.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
wcwidth==0.2.13 ; python_full_version >= "3.8.1" and python_version < "4.0"
yarl==1.9.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
zipp==3.18.1 ; python_full_version >= "3.8.1" and python_version < "4.0"

promptulate~=1.13.1
pytest~=7.4.4
langchain~=0.1.4
streamlit~=1.33.0
typing_extensions~=4.9.0
pyjwt~=2.8.0
requests~=2.31.0
numexpr~=2.8.6
arxiv~=1.4.8
pydantic~=1.10.14
click~=8.1.7
questionary~=2.0.1
litellm>=1.23.14,<1.36.0
python-dotenv~=1.0.1